{% extends "base.html" %}

{% block title %}Add New Employee Records{% endblock title %}

{% block content %}
<div class="col-md-12">
  <h4>Python Django PostgreSQL Example</h4>

  <form method="POST" class="post-form" action="/addnew">
    {% csrf_token %}
    <div class="container">
      <br>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <h3>Enter Details</h3>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">UavName:</label>
        <div class="col-sm-4">
          {{ form.UavName }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">UavModel:</label>
        <div class="col-sm-4">
          {{ form.UavModel }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">UavWeight:</label>
        <div class="col-sm-4">
          {{ form.UavWeight }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">UavCategory:</label>
        <div class="col-sm-4">
          {{ form.UavCategory }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}